###############################################################################
## Directories ################################################################
###############################################################################
build/
dist/
*.egg-info/
__pycache__/

###############################################################################
## Files ######################################################################
###############################################################################
*~
*.egg
*.py[cod]
*.so
.tox
.cache
