[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"
requests = "*"
css-html-js-minify = "*"
birdhouse-toolbox = {editable = true,path = "."}
python-slugify = "*"
package-controller = "*"

[packages]

[requires]
python_version = "3.7"
